.animatePresence {
  opacity: 0;
  transition: opacity var(--duration, 300ms) ease-in-out;
}

.animatePresenceReveal {
  opacity: 1;
}

.inViewDemo {
  background: #ddd;
}

.isInView {
  outline: 1px solid red;
}

.inViewTracker {
  background: red;
  color: white;
  padding: 0.6rem 1.5rem;
  position: fixed;
  right: 0;
  top: 0;
}

.inViewTracker--inView {
  background: #16f529;
  color: black;
}

.isDarkMode {
  background: black;
  color: white;
}

.isLightMode {
  background: white;
  color: black;
}

.box {
  width: 50px;
  height: 50px;
  background: red;
  animation: slide 1s ease-in-out infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .box {
    animation: none;
  }
}

.is-reduced-motion {
  .box {
    animation: none;
  }
}
